<!DOCTYPE html>
<html>
<head>
    <link rel="icon" href="{{ url_for('static', filename='favicon1.ico') }}" type="image/x-icon">
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Dr.Sooppy's Booking</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <div class="confirmation-container">
    <h2>Appointment Confirmed!</h2>
    <p><strong>Name:</strong> {{ name }}</p>
    <p><strong>Date:</strong> {{ date }}</p>
    <p><strong>Place:</strong> {{ place }}</p>
    <p><strong>Your Token Number:</strong> {{ token }}</p>
       
       <div style="display: flex; gap: 10px; justify-content: center; margin-top: 20px;">
  <a href="{{ url_for('download_pdf', name=name, date=date, token=token, place=place) }}" class="button" target="_blank">Download Confirmation PDF</a>
  <a href="{{ url_for('index') }}" class="button">Take Another Appointment</a>
</div>


  </div>
</body>
</html>
