<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">

  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Dr.Sooppy's Booking</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap" rel="stylesheet" />
  <script src="{{ url_for('static', filename='script.js') }}" defer></script>
</head>
<body>
<div class="info-box">
  <h1>Dr. Sooppy's Clinic</h1>
  <p><strong>📞 For Enquiry & Booking:</strong> <a href="tel:8589821725" class="phone-link">85898 21725</a></p>
  <p>
    📍<a href="https://www.google.com/maps/place/7J3QHQP8%2BX7R/@11.5874875,75.7630657,17z/data=!3m1!4b1!4m4!3m3!8m2!3d11.5874875!4d75.7656406?entry=ttu&g_ep=EgoyMDI1MDYxNi4wIKXMDSoASAFQAw%3D%3D" target="_blank">Koothali</a> 
    📍<a href="https://www.google.com/maps/place/7J3QGRQW%2B96J/@11.5384625,75.8429407,17z/data=!3m1!4b1!4m4!3m3!8m2!3d11.5384625!4d75.8455156?entry=ttu&g_ep=EgoyMDI1MDYxNi4wIKXMDSoASAFQAw%3D%3D" target="_blank">Koorachundu</a>
  </p>
</div>







  <div class="tables"></div>
 


  <div class="tables-container">
    <!-- Koothali Table -->
    <table>
       
       
      <caption>Koothali Working Hours</caption>
      <tr><th>Day</th><th>Time</th></tr>
      <tr><td>Sunday</td><td>08:00 AM – 09:30 AM</td></tr>
      <tr><td>Monday</td><td>09:45 AM – 01:00 PM</td></tr>
      <tr><td>Tuesday</td><td>❌ Not Working</td></tr>
      <tr><td>Wednesday</td><td>09:45 AM – 01:00 PM</td></tr>
      <tr><td>Thursday</td><td>09:45 AM – 01:00 PM</td></tr>
      <tr><td>Friday</td><td>09:45 AM – 01:00 PM</td></tr>
      <tr><td>Saturday</td><td>09:45 AM – 01:00 PM</td></tr>
    </table>

    <!-- Koorachundu Table -->
    <table>
     
      <caption>Koorachundu Working Hours</caption>
      <tr><th>Day</th><th>Time</th></tr>
      <tr><td>Sunday</td><td>11:00 AM – 01:00 PM</td></tr>
      <tr><td>Monday</td><td>04:45 PM – 07:00 PM</td></tr>
      <tr><td>Tuesday</td><td>❌ Not Working</td></tr>
      <tr><td>Wednesday</td><td>04:45 PM – 07:00 PM</td></tr>
      <tr><td>Thursday</td><td>04:45 PM – 07:00 PM</td></tr>
      <tr><td>Friday</td><td>04:45 PM – 07:00 PM</td></tr>
      <tr><td>Saturday</td><td>04:45 PM – 07:00 PM</td></tr>
    </table>
  </div>

  <h2>Take Appointment</h2>
  <p style="text-align:center; font-size:1.1rem; color:#555; margin-bottom:10px;">
    Please select your clinic location below to book an appointment.
  </p>
  <div class="button-container">
    <a href="/koothali" class="button">Koothali Clinic</a>
    <a href="/koorachundu" class="button">Koorachundu Clinic</a>
  </div>
</div>
</body>
</html>
